In [1]:
print("Hello world!")

Hello world!

## Data Types

- integer
- float
- string
- boolean
- array-like
  - list
  - tuples
  - set
- dictionary {key: value}

### int

In [1]:
5

5

In [2]:
print(5)

5

In [3]:
5
10

10

In [4]:
print(5)
print(10)

5
10

In [ ]:
print(1)
print(5)
print(15)
print(55468432121654860)

1
5
15
55468432121654860

In [6]:
type(1)

int

In [10]:
print(type(1))
print(type(5))
print(type(15))
print(type(55468432121654860))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### float

In [12]:
5.0

5.0

In [14]:
4684.546831

4684.546831

In [15]:
type(4684.546831)

float

### string

In [16]:
"apa pun yang di antara petik"

'apa pun yang di antara petik'

In [ ]:
"petik nya bisa petik 1 ataupun petik 2"

'petik nya bisa petik 1 ataupun petik 2'

In [18]:
"Tapi jangan dicampur-campur'

SyntaxError: unterminated string literal (detected at line 1) (2778909736.py, line 1)

In [20]:
'Budi berkata, "Ayo naik anjing"'

'Budi berkata, "Ayo naik anjing"'

In [21]:
"Budi berkata, 'Ayo naik anjing'"

"Budi berkata, 'Ayo naik anjing'"

In [22]:
"Budi berkata, "Ayo naik anjing""

SyntaxError: invalid syntax (3850475731.py, line 1)

### Boolean

In [23]:
True

True

In [24]:
False

False

In [25]:
true

NameError: name 'true' is not defined

In [26]:
type(True)

bool

### Variable

In [27]:
nama_var = "pesan ini untuk var"

In [28]:
x = 5

In [29]:
nama_var

'pesan ini untuk var'

In [30]:
true = "nama var yang tidak recommended"

In [31]:
true

'nama var yang tidak recommended'

In [32]:
makanan = "kucing"

In [33]:
makanan

'kucing'

In [34]:
makanan = "nasi padang"

In [35]:
makanan

'nasi padang'

In [36]:
hewan_peliharaan = "kucing"

In [37]:
eh = 10

In [38]:
luas_tanah = 100

In [39]:
nou = 100

In [40]:
1nou = 100

SyntaxError: invalid decimal literal (1166586879.py, line 1)

In [41]:
!nou = 50

zsh:1: command not found: nou

In [42]:
(nouc = 50

SyntaxError: '(' was never closed (2035754478.py, line 1)

In [43]:
-nou = 50

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2694077951.py, line 1)

- alphanumeric dan \_
- tidak boleh dimulai dengan numeric

In [54]:
age = 105
age1 = 150
# 1age = 150 ga boleh, jangan ya dek ya
_age = 564
aGe = 50
person_age = 50  # snake case
personAge = 50  # camel case
p3rs0Na9e = 50  # bikin onar
PERSON_AGE = 50  # untuk GLOBAL Variable

In [55]:
print(age)
print(age1)
print(_age)
print(aGe)

105
150
564
50

### Operator

- "+"
- "-"
- "\*"
- "/"
- "//" # division integer
- "%" # sisa

### Comparison

- "==" # equality comparison
- ">"
- "<"
- ">="
- "<="

"=" # variable assignment

In [ ]:
5 == 15 - 10

In [56]:
5 + 5

10

In [57]:
5 - 3

2

In [58]:
5.0 + 5

10.0

In [59]:
10 / 3

3.3333333333333335

In [60]:
10 / 5

2.0

In [61]:
10 // 5

2

In [62]:
10 // 3

3

In [63]:
10 // 4

2

In [64]:
5 * 5

25

In [65]:
5.0 * 5

25.0

In [ ]:
10 % 3  # modulo

1

In [69]:
"saya" + "lapar"

'sayalapar'

In [70]:
"saya " + "lapar"

'saya lapar'

In [71]:
"saya" - "lapar"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [72]:
"saya" * "lapar"

TypeError: can't multiply sequence by non-int of type 'str'

In [73]:
"saya" / "lapar"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [74]:
"saya" * 5

'sayasayasayasayasaya'

In [75]:
"------------------------------------------------------------------------------------"

'------------------------------------------------------------------------------------'

In [76]:
"-" * 100

'----------------------------------------------------------------------------------------------------'

In [77]:
"sayasayasaya" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## List

"[]"

In [78]:
["a", "b", "c"]

['a', 'b', 'c']

In [79]:
[1, 2, 3]

[1, 2, 3]

In [80]:
["a", "b", "c", 1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [81]:
["a", "b", "c", [1, 2, 3]]

['a', 'b', 'c', [1, 2, 3]]

In [82]:
for i in ["a", "b", "c", [1, 2, 3]]:
    print(i)

a
b
c
[1, 2, 3]

- indexing
- [start:stop:step]
- start -> inclusive
- stop -> exclusive
- step -> longkap

In [87]:
list_murid = ["a", "b", "c", "d"]

In [84]:
list_murid[0]

'a'

In [85]:
list_murid[2]

'c'

In [88]:
list_murid[4]

IndexError: list index out of range

In [ ]:
# -3, -2, -1, 0, 1, 2, 3
#             ->
#           <-

# 0, 1, 2, 3
# ->
# -4, -3, -2, -1
#             <-

In [92]:
print(list_murid[0])
print(list_murid[1])
print(list_murid[2])
print(list_murid[3])
print("-" * 40)

print(list_murid[-1])
print(list_murid[-2])
print(list_murid[-3])
print(list_murid[-4])

a
b
c
d
----------------------------------------
d
c
b
a

In [93]:
list_murid[0:2]

['a', 'b']

In [94]:
list_murid[1:3]

['b', 'c']

In [95]:
list_murid[:2]

['a', 'b']

In [96]:
list_murid

['a', 'b', 'c', 'd']

In [99]:
list_murid[:-1]

['a', 'b', 'c']

In [108]:
list_murid[0::2]

['a', 'c']

In [109]:
list_murid[0::3]

['a', 'd']

In [ ]:
list_random = (
    "saya lapar ingin makan nasi goreng pakai ikan bakar yang abis makan sapi".split(
        " "
    )
)

In [113]:
list_random

['saya',
 'lapar',
 'ingin',
 'makan',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [114]:
list_random(0::2::2)

SyntaxError: invalid syntax (2762229178.py, line 1)

In [115]:
list_random(0:4:2)

SyntaxError: invalid syntax (583797185.py, line 1)

In [116]:
list_random[0:4:2]

['saya', 'ingin']

In [117]:
list_random[0:7:3]

['saya', 'makan', 'pakai']

In [119]:
list_random[:7:3]

['saya', 'makan', 'pakai']

In [118]:
list_random

['saya',
 'lapar',
 'ingin',
 'makan',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [126]:
list_random[::-1]

['sapi',
 'makan',
 'abis',
 'yang',
 'bakar',
 'ikan',
 'pakai',
 'goreng',
 'nasi',
 'makan',
 'ingin',
 'lapar',
 'saya']

In [127]:
list_random[::-2]

['sapi', 'abis', 'bakar', 'pakai', 'nasi', 'ingin', 'saya']

In [128]:
list_random

['saya',
 'lapar',
 'ingin',
 'makan',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [129]:
# abis, ikan, nasi, lapar
list_random[::-2]

['sapi', 'abis', 'bakar', 'pakai', 'nasi', 'ingin', 'saya']

In [130]:
list_random[-3::-3]

['abis', 'ikan', 'nasi', 'lapar']

In [131]:
list_random

['saya',
 'lapar',
 'ingin',
 'makan',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [132]:
x = "saya abis makan nasi"

In [135]:
x[:5:-1]

'isan nakam sib'

In [138]:
list_random[3] = "masak"

In [139]:
list_random

['saya',
 'lapar',
 'ingin',
 'masak',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [142]:
x[6] = "c"

TypeError: 'str' object does not support item assignment