In [1]:
print("Hello world!")

Hello world!

## Data Types

- integer
- float
- string
- boolean
- array-like
  - list
  - tuples
  - set
- dictionary {key: value}

### int

In [1]:
5

5

In [2]:
print(5)

5

In [3]:
5
10

10

In [4]:
print(5)
print(10)

5
10

In [ ]:
print(1)
print(5)
print(15)
print(55468432121654860)

1
5
15
55468432121654860

In [6]:
type(1)

int

In [10]:
print(type(1))
print(type(5))
print(type(15))
print(type(55468432121654860))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

### float

In [12]:
5.0

5.0

In [14]:
4684.546831

4684.546831

In [15]:
type(4684.546831)

float

### string

In [16]:
"apa pun yang di antara petik"

'apa pun yang di antara petik'

In [ ]:
"petik nya bisa petik 1 ataupun petik 2"

'petik nya bisa petik 1 ataupun petik 2'

In [18]:
"Tapi jangan dicampur-campur'

SyntaxError: unterminated string literal (detected at line 1) (2778909736.py, line 1)

In [20]:
'Budi berkata, "Ayo naik anjing"'

'Budi berkata, "Ayo naik anjing"'

In [21]:
"Budi berkata, 'Ayo naik anjing'"

"Budi berkata, 'Ayo naik anjing'"

In [22]:
"Budi berkata, "Ayo naik anjing""

SyntaxError: invalid syntax (3850475731.py, line 1)

### Boolean

In [23]:
True

True

In [24]:
False

False

In [25]:
true

NameError: name 'true' is not defined

In [26]:
type(True)

bool

### Variable

In [27]:
nama_var = "pesan ini untuk var"

In [28]:
x = 5

In [29]:
nama_var

'pesan ini untuk var'

In [30]:
true = "nama var yang tidak recommended"

In [31]:
true

'nama var yang tidak recommended'

In [32]:
makanan = "kucing"

In [33]:
makanan

'kucing'

In [34]:
makanan = "nasi padang"

In [35]:
makanan

'nasi padang'

In [36]:
hewan_peliharaan = "kucing"

In [37]:
eh = 10

In [38]:
luas_tanah = 100

In [39]:
nou = 100

In [40]:
1nou = 100

SyntaxError: invalid decimal literal (1166586879.py, line 1)

In [41]:
!nou = 50

zsh:1: command not found: nou

In [42]:
(nouc = 50

SyntaxError: '(' was never closed (2035754478.py, line 1)

In [43]:
-nou = 50

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2694077951.py, line 1)

- alphanumeric dan \_
- tidak boleh dimulai dengan numeric

In [54]:
age = 105
age1 = 150
# 1age = 150 ga boleh, jangan ya dek ya
_age = 564
aGe = 50
person_age = 50  # snake case
personAge = 50  # camel case
p3rs0Na9e = 50  # bikin onar
PERSON_AGE = 50  # untuk GLOBAL Variable

In [55]:
print(age)
print(age1)
print(_age)
print(aGe)

105
150
564
50

### Operator

- "+"
- "-"
- "\*"
- "/"
- "//" # division integer
- "%" # sisa

### Comparison

- "==" # equality comparison
- ">"
- "<"
- ">="
- "<="

"=" # variable assignment

In [ ]:
5 == 15 - 10

In [56]:
5 + 5

10

In [57]:
5 - 3

2

In [58]:
5.0 + 5

10.0

In [59]:
10 / 3

3.3333333333333335

In [60]:
10 / 5

2.0

In [61]:
10 // 5

2

In [62]:
10 // 3

3

In [63]:
10 // 4

2

In [64]:
5 * 5

25

In [65]:
5.0 * 5

25.0

In [ ]:
10 % 3  # modulo

1

In [69]:
"saya" + "lapar"

'sayalapar'

In [70]:
"saya " + "lapar"

'saya lapar'

In [71]:
"saya" - "lapar"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [72]:
"saya" * "lapar"

TypeError: can't multiply sequence by non-int of type 'str'

In [73]:
"saya" / "lapar"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [74]:
"saya" * 5

'sayasayasayasayasaya'

In [75]:
"------------------------------------------------------------------------------------"

'------------------------------------------------------------------------------------'

In [76]:
"-" * 100

'----------------------------------------------------------------------------------------------------'

In [77]:
"sayasayasaya" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

### List

- mutable
- ada index

"[]"

In [78]:
["a", "b", "c"]

['a', 'b', 'c']

In [79]:
[1, 2, 3]

[1, 2, 3]

In [80]:
["a", "b", "c", 1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [1]:
list_a = ["a", "b", "c", [1, 2, 3], "d", [4, [5, 6], 8], "e"]

In [ ]:
["a", "b", "c", [1, 2, 3], "d", [4, [5, 6], 8], "e"]
# 0    1    2       3       4          5         6
#                0  1  2         0     1    2
#                                    0  1

In [8]:
list_a[5]

[4, [5, 6], 8]

In [10]:
list_a[5][0]

4

In [13]:
list_a[5][1][0]

5

In [12]:
list_a[5][2]

8

In [2]:
list_a[3][1]

2

In [6]:
list_a[3]
# [1, 2, 3]

[1, 2, 3]

a

In [82]:
for i in ["a", "b", "c", [1, 2, 3]]:
    print(i)

a
b
c
[1, 2, 3]

- indexing
- [start:stop:step]
- start -> inclusive
- stop -> exclusive
- step -> longkap

In [87]:
list_murid = ["a", "b", "c", "d"]

In [84]:
list_murid[0]

'a'

In [85]:
list_murid[2]

'c'

In [88]:
list_murid[4]

IndexError: list index out of range

In [ ]:
# -3, -2, -1, 0, 1, 2, 3
#             ->
#           <-

# 0, 1, 2, 3
# ->
# -4, -3, -2, -1
#             <-

In [92]:
print(list_murid[0])
print(list_murid[1])
print(list_murid[2])
print(list_murid[3])
print("-" * 40)

print(list_murid[-1])
print(list_murid[-2])
print(list_murid[-3])
print(list_murid[-4])

a
b
c
d
----------------------------------------
d
c
b
a

In [93]:
list_murid[0:2]

['a', 'b']

In [94]:
list_murid[1:3]

['b', 'c']

In [95]:
list_murid[:2]

['a', 'b']

In [96]:
list_murid

['a', 'b', 'c', 'd']

In [99]:
list_murid[:-1]

['a', 'b', 'c']

In [108]:
list_murid[0::2]

['a', 'c']

In [109]:
list_murid[0::3]

['a', 'd']

In [ ]:
list_random = (
    "saya lapar ingin makan nasi goreng pakai ikan bakar yang abis makan sapi".split(
        " "
    )
)

In [113]:
list_random

['saya',
 'lapar',
 'ingin',
 'makan',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [114]:
list_random(0::2::2)

SyntaxError: invalid syntax (2762229178.py, line 1)

In [115]:
list_random(0:4:2)

SyntaxError: invalid syntax (583797185.py, line 1)

In [116]:
list_random[0:4:2]

['saya', 'ingin']

In [117]:
list_random[0:7:3]

['saya', 'makan', 'pakai']

In [119]:
list_random[:7:3]

['saya', 'makan', 'pakai']

In [118]:
list_random

['saya',
 'lapar',
 'ingin',
 'makan',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [126]:
list_random[::-1]

['sapi',
 'makan',
 'abis',
 'yang',
 'bakar',
 'ikan',
 'pakai',
 'goreng',
 'nasi',
 'makan',
 'ingin',
 'lapar',
 'saya']

In [127]:
list_random[::-2]

['sapi', 'abis', 'bakar', 'pakai', 'nasi', 'ingin', 'saya']

In [128]:
list_random

['saya',
 'lapar',
 'ingin',
 'makan',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [129]:
# abis, ikan, nasi, lapar
list_random[::-2]

['sapi', 'abis', 'bakar', 'pakai', 'nasi', 'ingin', 'saya']

In [130]:
list_random[-3::-3]

['abis', 'ikan', 'nasi', 'lapar']

In [131]:
list_random

['saya',
 'lapar',
 'ingin',
 'makan',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [23]:
x = "saya abis makan nasi"

In [135]:
x[:5:-1]

'isan nakam sib'

In [138]:
list_random[3] = "masak"

In [139]:
list_random

['saya',
 'lapar',
 'ingin',
 'masak',
 'nasi',
 'goreng',
 'pakai',
 'ikan',
 'bakar',
 'yang',
 'abis',
 'makan',
 'sapi']

In [142]:
x[6] = "c"

TypeError: 'str' object does not support item assignment

### Tuple

- immutable
- has index

"()"

In [ ]:
tuple_a = (
    1,
    2,
    3,
)

In [126]:
tuple_a

(1, 2, 3)

In [137]:
tuple((1, 2, 3))

(1, 2, 3)

In [139]:
tuple([1, 2, 3, 3])

(1, 2, 3, 3)

In [127]:
type(tuple_a)

tuple

In [128]:
tuple_a[0]

1

In [129]:
tuple_a[:2]

(1, 2)

In [130]:
tuple_a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [134]:
tuple_a.count("a")

0

In [135]:
tuple_a.index(2)

1

### Set

- mutable
- unique
- no index

In [ ]:
# Array-like
# Sequence

"{}"

In [146]:
set_a = {1, 2, 3, 3, 2}
set_a

{1, 2, 3}

In [143]:
type(set_a)

set

In [145]:
set_a[0]

TypeError: 'set' object is not subscriptable

In [147]:
set_a.add(3)

In [148]:
set_a

{1, 2, 3}

In [149]:
set_a.add(4)

In [150]:
set_a

{1, 2, 3, 4}

In [151]:
set_a.pop()

1

In [153]:
help(set.pop)

Help on method_descriptor:

pop(...) unbound builtins.set method
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [ ]:
set_a

{2, 3, 4}

### Dictionary

"{key: value}"

In [163]:
profile = {
    "name": "Glinda",
    "age": 15,
    "gender": "female",
    0: "not an index",
}
profile

{'name': 'Glinda', 'age': 15, 'gender': 'female', 0: 'not an index'}

In [17]:
profile[0]

KeyError: 0

In [20]:
profile[0]

'not an index'

In [18]:
profile["name"]

'Glinda'

## Methods

In [29]:
list_a

['a', 'b', 'c', [1, 2, 3], 'd', [4, [5, 6], 8], 'e']

In [30]:
x

'saya abis makan nasi'

In [31]:
profile

{'name': 'Glinda', 'age': 15, 'gender': 'female', 0: 'not an index'}

In [32]:
type(list_a)

list

In [33]:
type(x)

str

In [34]:
type(profile)

dict

In [35]:
x

'saya abis makan nasi'

In [36]:
x.upper()

'SAYA ABIS MAKAN NASI'

In [37]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
help(x.title)

Help on built-in function title:

title() method of builtins.str instance
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

In [39]:
x

'saya abis makan nasi'

In [40]:
x.title()

'Saya Abis Makan Nasi'

In [41]:
help(str.capitalize)

Help on method_descriptor:

capitalize(self, /) unbound builtins.str method
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [42]:
x.capitalize()

'Saya abis makan nasi'

In [44]:
x.capitalize

In [45]:
list_a

['a', 'b', 'c', [1, 2, 3], 'd', [4, [5, 6], 8], 'e']

In [49]:
"x" in list_a

False

In [50]:
"x" not in list_a

True

In [51]:
not "x" in list_a

True

In [53]:
list_a

['a', 'b', 'c', [1, 2, 3], 'd', [4, [5, 6], 8], 'e']

In [54]:
print(x)

saya abis makan nasi

In [55]:
x in list_a

False

In [56]:
2 in list_a

False

In [57]:
[1, 2, 3] in list_a

True

In [46]:
10 in list_a

False

In [60]:
list_a

['a', 'b', 'c', [1, 2, 3], 'd', [4, [5, 6], 8], 'e']

In [61]:
help(list_a.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [62]:
list_a.append(x)

In [63]:
list_a

['a', 'b', 'c', [1, 2, 3], 'd', [4, [5, 6], 8], 'e', 'saya abis makan nasi']

In [64]:
help(list.clear)

Help on method_descriptor:

clear(self, /) unbound builtins.list method
    Remove all items from list.

In [82]:
list_a[3].reverse()

In [83]:
list_a

['a', 'b', 'c', [3, 2, 1], 'd', [4, [5, 6], 8], 'e', 'saya abis makan nasi']

In [85]:
sorted(list_a[3])

[1, 2, 3]

In [87]:
list_a[3].sort()

In [88]:
list_a

['a', 'b', 'c', [1, 2, 3], 'd', [4, [5, 6], 8], 'e', 'saya abis makan nasi']

In [ ]:
# immutable vs mutable
# str          list
#              dict

In [91]:
x[5] = "ganti"

TypeError: 'str' object does not support item assignment

In [92]:
x.upper()

'SAYA ABIS MAKAN NASI'

In [93]:
x

'saya abis makan nasi'

In [94]:
list_a

['a', 'b', 'c', [1, 2, 3], 'd', [4, [5, 6], 8], 'e', 'saya abis makan nasi']

In [95]:
list_a.reverse()

In [96]:
list_a

['saya abis makan nasi', 'e', [4, [5, 6], 8], 'd', [1, 2, 3], 'c', 'b', 'a']

In [97]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [98]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False) unbound builtins.list method
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [99]:
list_a

['saya abis makan nasi', 'e', [4, [5, 6], 8], 'd', [1, 2, 3], 'c', 'b', 'a']

In [ ]:
list_b = [*range(10).__reversed__()]

In [103]:
list_b

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [104]:
sorted(list_b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
print(list_b)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [106]:
# list.sort(list_b)
list_b.sort()

In [107]:
print(list_b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
profile

{'name': 'Glinda', 'age': 15, 'gender': 'female', 0: 'not an index'}

In [109]:
profile[1]

KeyError: 1

In [112]:
profile["age"]

15

In [113]:
ini_sebuah_variable_panjang_yang_isinya_age = "age"

In [115]:
profile[ini_sebuah_variable_panjang_yang_isinya_age]

15

In [116]:
help(profile.clear)

Help on built-in function clear:

clear(...) method of builtins.dict instance
    D.clear() -> None.  Remove all items from D.

In [117]:
profile.clear()

In [120]:
profile

{'name': 'Glinda', 'age': 15, 'gender': 'female', 0: 'not an index'}

In [121]:
profile.keys()

dict_keys(['name', 'age', 'gender', 0])

In [122]:
profile.values()

dict_values(['Glinda', 15, 'female', 'not an index'])

In [123]:
profile.items()

dict_items([('name', 'Glinda'), ('age', 15), ('gender', 'female'), (0, 'not an index')])

In [154]:
profile

{'name': 'Glinda', 'age': 15, 'gender': 'female', 0: 'not an index'}

In [156]:
profile["hobby"] = "makan"

In [157]:
profile

{'name': 'Glinda',
 'age': 15,
 'gender': 'female',
 0: 'not an index',
 'hobby': 'makan'}

In [158]:
profile["gender"] = "male"

In [164]:
profile

{'name': 'Glinda', 'age': 15, 'gender': 'female', 0: 'not an index'}

In [ ]:
profile["age"] = "Glinda"

In [166]:
profile

{'name': 'Glinda', 'age': 'Glinda', 'gender': 'female', 0: 'not an index'}