# Conditions, Control Flow, Looping

## Conditions

In [139]:
from random import choice

In [140]:
# if expression:
# else:

In [141]:
True or False

True

In [143]:
if True:
                                                                    print("Will print")
  print("will error")

IndentationError: unindent does not match any outer indentation level (<string>, line 3)

In [ ]:
if True:
    print("Will print")
    print("Not error")
print("Will always print")

Will print
Not error
Will always print

In [ ]:
if False:
    print("Will not print")
print("Will always print")

Will always print

In [ ]:
True and False

False

In [ ]:
age = 15
age > 17

False

In [ ]:
age = 30
age > 17

True

In [ ]:
age = 30
if age > 17:
    print("Can buy cigarette")

Can buy cigarette

In [ ]:
age = 15
if age > 17:
    print("Can buy cigarette")

In [ ]:
if True:
    print("Print from if block")
else:
    print("Will never print")

Print from if block

In [ ]:
if False:
    print("Will not print")
else:
    print("Print from else block")

Print from else block

In [ ]:
random()

0.8025043763893146

In [ ]:
age_list = range(10, 25, 2)
age = choice(age_list)

## string formatting
# print("Age is", age)
# print("Age is %i" % age)
# print("Age is {}".format(age))
print(f"Age is {age}")
if age > 17:
    print("Can buy cigarette")
else:
    print("Cannot buy cigarette")

Age is 12
Cannot buy cigarette

In [ ]:
age_list = range(8, 25, 2)
age = choice(age_list)

## string formatting
# print("Age is", age)
# print("Age is %i" % age)
# print("Age is {}".format(age))
print(f"Age is {age}")
if age > 17:
    print("Can buy cigarette")
elif age < 12:
    print("Call their parents")
else:
    print("Cannot buy cigarette")

Age is 10
Call their parents

In [ ]:
x = "saya mau makan nasi"

In [ ]:
not "mau" in x

False

In [ ]:
age_list = range(8, 25, 2)
age = choice(age_list)

s = "teen" if age < 21 else "adult"

if age < 21:
    s = "teen"
else:
    s = "adult"

'adult'

In [ ]:
list_lama = range(100)  # [0, 1, 2, 3, ..., 99]
# list_kelipatan_5 = [0, 5, 10, 15, ..., 95]

In [ ]:
list(range(0, 100, 5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
list(range(0, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
num = 15
if num % 5 == 0:
    print(num)

15

## Looping

### while loop

In [148]:
from time import sleep

In [151]:
i = 0  # iteration
while i < 10:
    print("iklan")

    i = i + 1
    # i += 1

    sleep(0.5)

iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan

In [155]:
i = 0  # iteration
while True:
    if i == 10:
        break

    print("iklan")

    i = i + 1
    # i += 1

    sleep(0.5)

iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan

### for loop

In [158]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# for i in sequence/array-like:
#     run code

In [163]:
{"a", "r", "a", "a", "a"}

{'a', 'r'}

In [ ]:
range(10)  # sequence dengan 10 member

range(0, 10)

In [165]:
for i in ["a", "b", "a", "a", "a"]:
    print(i)

a
b
a
a
a

In [ ]:
for i in range(10):
    print("iklan")

iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan

In [169]:
i = 0
while i < 10:
    print("iklan")
    i += 1

iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan
iklan

In [ ]:
# break  -> keluar dari loop secara paksa
# continue  -> loncat ke iterasi loop berikutnya
# pass  -> ga ngapa2in, lanjut ke baris berikutnya seperti normal

In [173]:
for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [175]:
if age < 17:
    pass
else:
    print("iklan")

iklan

In [ ]:
if age < 17:
    # TODO: running iklan di sini nanti
    pass
else:
    # TODO: running sesuatu nanti
    pass

In [181]:
range(100)

range(0, 100)

In [183]:
list(range(0, 100, 5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [185]:
for i in range(100):
    if i % 5 == 0:
        print(i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [186]:
for i in range(100):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99

In [ ]:
i = 0
while i < 100:
    if i % 3 == 0 or i % 5 == 0:
        print(i)
    i = i + 1

In [190]:
new_list = []
i = 0
while i < 100:
    if i % 3 == 0 or i % 5 == 0:
        new_list.append(i)
    i = i + 1
print(new_list)

[0, 3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [191]:
range(1, 101)

range(1, 101)

In [192]:
new_list = []
i = 1
while i < 101:
    if i % 3 == 0:
        new_list.append("Fizz")
    elif i % 5 == 0:
        new_list.append("Buzz")
    else:
        new_list.append(i)
    i = i + 1
print(new_list)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'Fizz', 16, 17, 'Fizz', 19, 'Buzz', 'Fizz', 22, 23, 'Fizz', 'Buzz', 26, 'Fizz', 28, 29, 'Fizz', 31, 32, 'Fizz', 34, 'Buzz', 'Fizz', 37, 38, 'Fizz', 'Buzz', 41, 'Fizz', 43, 44, 'Fizz', 46, 47, 'Fizz', 49, 'Buzz', 'Fizz', 52, 53, 'Fizz', 'Buzz', 56, 'Fizz', 58, 59, 'Fizz', 61, 62, 'Fizz', 64, 'Buzz', 'Fizz', 67, 68, 'Fizz', 'Buzz', 71, 'Fizz', 73, 74, 'Fizz', 76, 77, 'Fizz', 79, 'Buzz', 'Fizz', 82, 83, 'Fizz', 'Buzz', 86, 'Fizz', 88, 89, 'Fizz', 91, 92, 'Fizz', 94, 'Buzz', 'Fizz', 97, 98, 'Fizz', 'Buzz']

In [193]:
new_list = []
i = 1
while i < 101:
    if i % 3 == 0 and i % 5 != 0:
        new_list.append("Fizz")
    elif i % 5 == 0 and i % 3 != 0:
        new_list.append("Buzz")
    elif i % 3 == 0 and i % 5 == 0:
        new_list.append("FizzBuzz")
    else:
        new_list.append(i)
    i = i + 1
print(new_list)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz', 'Fizz', 22, 23, 'Fizz', 'Buzz', 26, 'Fizz', 28, 29, 'FizzBuzz', 31, 32, 'Fizz', 34, 'Buzz', 'Fizz', 37, 38, 'Fizz', 'Buzz', 41, 'Fizz', 43, 44, 'FizzBuzz', 46, 47, 'Fizz', 49, 'Buzz', 'Fizz', 52, 53, 'Fizz', 'Buzz', 56, 'Fizz', 58, 59, 'FizzBuzz', 61, 62, 'Fizz', 64, 'Buzz', 'Fizz', 67, 68, 'Fizz', 'Buzz', 71, 'Fizz', 73, 74, 'FizzBuzz', 76, 77, 'Fizz', 79, 'Buzz', 'Fizz', 82, 83, 'Fizz', 'Buzz', 86, 'Fizz', 88, 89, 'FizzBuzz', 91, 92, 'Fizz', 94, 'Buzz', 'Fizz', 97, 98, 'Fizz', 'Buzz']

In [206]:
%%timeit
new_list = []
i = 1
while i < 101:
    if i % 3 == 0 and i % 5 != 0:
        new_list.append("Fizz")
    elif i % 5 == 0 and i % 3 != 0:
        new_list.append("Buzz")
    elif i % 3 == 0 and i % 5 == 0:
        new_list.append("FizzBuzz")
    else:
        new_list.append(i)
    i = i + 1

28.1 μs ± 12.4 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [205]:
%%timeit
new_list = []
i = 1
while i < 101:
    if i % 3 == 0 and i % 5 == 0:
        new_list.append("FizzBuzz")
    elif i % 5 == 0:
        new_list.append("Buzz")
    elif i % 3 == 0:
        new_list.append("Fizz")
    else:
        new_list.append(i)
    i = i + 1

26.2 μs ± 4.14 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [ ]:
while i <= 100:
    if i % 3 == 0
        print(i)

SyntaxError: expected ':' (2262229157.py, line 2)

In [ ]:
list_lama = range(100)  # [0, 1, 2, 3, ..., 99]
# list_kelipatan_3_atau_5 = [0, 3, 5, 6, 9, 10, 12, 15, ..., 99]

fizz buzz

```
Given an integer n, return a string array answer (1-indexed) where:

answer[i] == "FizzBuzz" if i is divisible by 3 and 5.
answer[i] == "Fizz" if i is divisible by 3.
answer[i] == "Buzz" if i is divisible by 5.
answer[i] == i (as a string) if none of the above conditions are true.


Example 1:

Input: n = 3
Output: ["1","2","Fizz"]
Example 2:

Input: n = 5
Output: ["1","2","Fizz","4","Buzz"]
Example 3:

Input: n = 15
Output: ["1","2","Fizz","4","Buzz","Fizz","7","8","Fizz","Buzz","11","Fizz","13","14","FizzBuzz"]
```